h1 {
    color: rgb(104, 6, 63);
    font-style: italic;
    text-align: center;
    font-size: 50px;
}
h2{
    text-align: center;
    color: slateblue;
}
h4 {
    color: red;
    font-style: italic;
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.best {
    color: seagreen;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}