h1 {
    color: red;
    font-style: italic;
}
h4 {
    color: red;
    font-style: italic;
}

.best {
    color: seagreen;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}